<ion-view view-title="Información Tecnica">
	<ion-content class="padding">
		<div class="list">
			<a class="item item-icon-left item-thumbnail-left item-text-wrap">
				<img src="img/recortes/Shelby_1.jpg">
				<h3>Titulo</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi earum, hic sequi praesentium, fugiat at nobis ratione totam aspernatur, dolore cumque necessitatibus amet nulla itaque sit ut suscipit, deleniti soluta.
				</p>
			</a>
		</div>
	</ion-content>
</ion-view>