<ion-view view-title="Información Tecnica">
	<ion-nav-buttons side="secondary">
		<button class="button button-icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="padding">
		<div class="list">
			<a class="item item-icon-left item-thumbnail-left item-text-wrap" ng-repeat="item in detalles" ng-click="toggleDescripcion(item)">
				<img src="img/recortes/{{item.foto}}">
				<h3>{{item.titulo}}</h3>
				<p ng-show="!item.resumido">{{item.descripcion | limitTo:92}} {{item.descripcion.length > 92 ? '&hellip;' : ''}}</p>
				<p ng-show="item.resumido">{{item.descripcion}}</p>
			</a>
		</div>
	</ion-content>
</ion-view>