<ion-view view-title="Datos">
	<ion-content class="padding">
		<h2>Datos</h2>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid id modi amet expedita dignissimos, odio, atque veniam deleniti nisi facilis. Ipsa ratione repellendus, culpa asperiores, nisi pariatur eius deserunt. Odit.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente consectetur numquam sint blanditiis mollitia optio odio at repudiandae ducimus, illo. Dignissimos nisi voluptatem eligendi voluptatibus praesentium temporibus laboriosam repudiandae rerum.
	</ion-content>
</ion-view>