/* Empty. Add your own CSS if you like */

.desplegado {
	background-color: #fdf2d1 !important;
}
.desplegado .item-content {
	background: transparent;
}

.mi_contenedor {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
}
.mi_contenedor h2 {
	text-align: center;
	background-color: #fdf2d1;
	border-radius: 15px;
}
.img_rounded {
	border-radius: 8px;
	overflow: hidden;
	width: 170px;
	height: 182px;
	margin: 0 auto;
}
.img_rounded img {
	width: 100%;
}
.rotulo {
	color: #666666;
}
.valor {
	color: #333333;
	font-size: 1.4em;
	font-weight: bold;
}